<ion-header>
  <ion-toolbar>
    <ion-title>user</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGrup]='user_form' (ngSubmit)='addUser(user_form.value)'>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Nombre</ion-label>
          <ion-input formControlName="name" type="text" required></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Apellido</ion-label>
          <ion-input formControlName="lastname" type="text" required></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Celular</ion-label>
          <ion-input formControlName="phone" type="text" required></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Celular Alternativo</ion-label>
          <ion-input formControlName="alternativePhone" type="text"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </form>
</ion-content>